@{
    ViewData["Title"] = "TempConversions";
}
<h2>@ViewData["Title"]</h2>


<p>Here's the calculation @ViewData["gToK"]</p>
<p>Here's the calculation @ViewData["kToG"]</p>
<p>Here's the calculation @ViewData["gToO"]</p>
<p>Here's the calculation @ViewData["oToG"]</p>
<p>Here's the calculation @ViewData["gToP"]</p>
<p>Here's the calculation @ViewData["pToG"]</p>
<p>Here's the calculation @ViewData["pToO"]</p>
<p>Here's the calculation @ViewData["oToP"]</p>
<p>Here's the calculation @ViewData["kToO"]</p>
<p>Here's the calculation @ViewData["oToK"]</p>
<p>Here's the calculation @ViewData["pToK"]</p>
<p>Here's the calculation @ViewData["KToP"]</p>