@{
    ViewData["Title"] = "TempConversions";
}
<h2>@ViewData["Title"]</h2>


<p>Here's the calculation @ViewData["CToF"]</p>
<p>Here's the calculation @ViewData["FToC"]</p>
<p>Here's the calculation @ViewData["cToK"]</p>
<p>Here's the calculation @ViewData["KtoC"]</p>
<p>Here's the calculation @ViewData["fToK"]</p>
<p>Here's the calculation @ViewData["kToF"]</p>

